
<mat-sidenav-container>
  <mat-sidenav 
    class="sidenav-container" 
    mode="side" 
    [(opened)]="opened"
    position="end"
    >
    <ul style="list-style-type: none">
      <li>
        <button 
          class="btn-close-menu"
          mat-mini-fab 
          *ngIf="opened" 
          (click)="closeSidenav()" 
          >
          <fa-icon [icon]="closeIcon"></fa-icon>
        </button>
      </li>
      <li><a (click)="closeSidenav()" routerLink="/logon">כניסה לחשבון</a></li>
      <li><a (click)="closeSidenav()" routerLink="/register">פתיחת חשבון</a></li>
      <li><a (click)="closeSidenav()" routerLink="/credit-card">כרטיס אשראי</a></li>
      <li><a (click)="closeSidenav()" routerLink="/loans">הלוואות</a></li>
    </ul>
  </mat-sidenav>
  
  <mat-sidenav-content
    class="sidenav-content" 
    style="text-align: right">
    <p>
      <button type="button" *ngIf="!opened" (click)="opened = !opened">
        <fa-icon [icon]="menuIcon"></fa-icon>
      </button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>