<h1 mat-dialog-title>אנא להזין שם יוזר וסיסמה</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="username" placeholder="הזן שם יוזר" required>
  </mat-form-field>
  <mat-form-field>
    <input 
      type="password" 
      matInput 
      [(ngModel)]="password" 
      placeholder="הזן סיסמה" 
      (keyup.enter)="login(username, password)" 
      required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">בטל</button>
  <button mat-button (click)="login(username, password)" color="primary" cdkFocusInitial>הכנס</button>
</div>
<div>
  <p class="alert alert-danger" *ngIf="isLoginFailed">שם יוזר וסיסמה לא נכונים</p>
</div>
