<h1 mat-dialog-title>אנא להזין שם יוזר וסיסמה</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="username" placeholder="הזן שם יוזר" required>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput [(ngModel)]="password" placeholder="הזן סיסמה" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">בטל</button>
  <button color="primary" mat-button (click)="login(username, password)" cdkFocusInitial>הכנס</button>
</div>
<div>
  <p class="alert alert-danger" *ngIf="isLoginFailed">שם יוזר או סיסמה לא נכון</p>
</div>
