<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand">
    בנקאפפ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="nav-link" (click)="openDialog()" [disabled]="loginDialogOpened" >כניסה לחשבונך<span class="sr-only">(current)</span></button>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">פתיחת חשבון</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">בנקאפפ</h1>
      <h2>אל תקרא לי בנק</h2>
      <p>
        תכירו בנקאפפ. זה משהו ענק. רק עשו טובה - אל תקראו לו בנק. כי מתי ראיתם בנק שככה נראה ומדבר? שסוגר לכם פינה בכל שעה, הכי
        מהר? בנק בלי פקס, עמלות עו"ש וכל מה שמציק, שעוזר לכם לעשות יותר מהכסף שלכם, בלי שום טריק?אז מה זה בנקאפפ? זה משהו אחר.
        יאללה תורידו, תראו, נדבר.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">למידע נוסף &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>הלוואות</h2>
        <p>רוצים לרכוש רכב חדש, לשפץ את הבית או להרחיב את העסק?
        קבלו הלוואה מהירה מבלי לצאת מהבית לכל מטרה! </p>
        <p><a class="btn btn-secondary" href="#" role="button">למידע נוסף &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>כרטיס אשראי</h2>
        <p>ניתן להנפיק כרטיסים בנקאיים של בנקאפפ שיתופעלו באמצעות החברות לאומיקארד וכאל (ובהמשך גם עם ישראכרט). בכל אחת מהחברות ניתן
        יהיה להנפיק את מותגי VISA וMASTERCARD ובהם הכרטיסים: בינלאומי, זהב, עסקי, ופלטינה. 
      </p>
        <p><a class="btn btn-secondary" href="#" role="button">למידע נוסף &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>העברות</h2>
        <p>
          עם בנקאפפ אתם יכולים להעביר כסף לאנשי קשר בקלות ואפילו בכיף, והכל תוך שניות וללא עמלות. צריכים להעביר כסף לחבר או
          בעל מקצוע? תחליטו כמה, למי והופה! שילמתם. לא צריך יותר כספומטים. הופה, שילמת. ללקוחות כל הבנקים ובחינם. אפליקציית
          תשלומים.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">למידע נוסף &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>

<footer class="container">
  <p>&copy; BankApp 2017-2018</p>
</footer>