<div class="row">
  <h3> {{ client?.firstName }} הי</h3>
</div>
<div class="row">
  <p>תהליך הרשמה כמעט הסתיים, יש לאמת את פרטי ההתקשרות עכשיו או ללחוץ בדילוג ולהשלים את התהליך אחר כך</p>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">נשלח לך קוד אימות לפרט ההתקשרות</h5>
    <h6 *ngIf="sending === 3" class="card-subtitle mb-2 text-muted">{{ client?.contactInfo.cellphone }}</h6>
    <h6 *ngIf="sending === 2" class="card-subtitle mb-2 text-muted">{{ client?.contactInfo.email }}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <button #validationContact class="card-link">אימות</button>
    <a routerLink="/home" class="card-link">דילוג</a>
  </div>
</div>

  
     
