<div class="row">
  <div class="col-md-6" *ngIf="!isRegistrationCompleted">
    <p>בעיבוד המערכת. אנא המתן...</p>
  </div>
  <div class="col" *ngIf="isRegistrationCompleted">
    <h3> {{ client?.firstName }} הי</h3>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">נשלח קוד אימות לניידך</h5>
        <p class="card-subtitle mb-2 text-muted" disabled>
          {{ client?.contactInfo.cellphone }}
        </p>
        <p class="card-text">ניתן לאמת את חשבונך תוך 5 דקות.
        </p>
        <form #f="ngForm" (ngSubmit)="validateCode(f.value)">
          <input 
            type="String" 
            #validation="ngModel"
            ngModel 
            id="validation" 
            name="validation" 
            class="form-control" 
            required>
          <button class="btn btn-primary" [disabled]="!f.valid">אימות</button>
        </form>
      </div>
    </div>
  </div>
</div>


  
     
